{% extends 'eskoolyapp/base.html' %}
{% load static %}
{% block parentblock %}
{% load crispy_forms_tags %}

<div class="span11" id="sufal" style="">
	<div class="content">
	<h3 style="text-align:center;color:#333;margin-top:63px;"><a href="/allstudent">
		<button class="btn btn-info pull-left"><i class="fas fa-arrow-left"></i> back</button></a> Edit Student Detail</h3><hr>
<!-- Button trigger modal-1 -->
<button type="button" class="btn btn-primary span3" data-toggle="modal" data-target="#exampleModalCenter">
  <img style="width:150px; height:150px;" src="{% static "images/std.png" %}"><br><i class="fas fa-pencil-alt fa-fw"></i> Click To Change
</button>
<!-- Button trigger modal-2 -->
<form method="post">
{% csrf_token %}
<!-- </form> -->
<button type="button" class="btn btn-warning span4" data-toggle="modal" data-target="#exampleModalCenter1">
	{% if addmiss %}
		<!-- {% for add in addmiss %} -->
<table style="width:100%;text-align:left;">
  <tbody><tr><td><b>Registration No:</b></td><td> {{add.regno}}</td></tr>
  <tr><td><b>Student Name:</b></td><td> {{add.nmstd}}</td></tr>
  <tr><td><b>Father Name:</b></td><td> {{add.fnm}}</td></tr>
  <tr><td><b>Mother Name:</b></td><td> </td>{{add.mothername}}</tr>
  <tr><td><b>Date Of Admission:</b></td><td></td></tr>
  <tr><td><b>Class:</b></td><td> </td></tr>
  <tr><td><b>Discount In Fee:</b></td><td>{{add.discount}}%</td></tr>
  </tbody></table><br><i class="fas fa-pencil-alt fa-fw"></i> Click To Change
</button>
<!-- {% endfor %} -->
{% endif %}
<!-- Button trigger modal-3 -->
<button type="button" class="btn btn-info span4" data-toggle="modal" data-target="#exampleModalCenter2">
<table style="width:100%;text-align:left;">
  <tbody><tr><td><b>Date Of Birth:</b></td><td> 0000-00-00</td></tr>
  <tr><td><b>Gender:</b></td><td> empty</td></tr>
  <tr><td><b>B-form:</b></td><td> </td></tr>
  <tr><td><b>Religion:</b></td><td> empty</td></tr>
  <tr><td><b>OS:</b></td><td> empty</td></tr>
  <tr><td><b>OSC:</b></td><td> empty</td></tr>
  <tr><td><b>Previous School:</b></td><td>  </td></tr>
  </tbody></table><br><i class="fas fa-pencil-alt fa-fw"></i> Click To Change
</button>
<!-- Button trigger modal-4 -->
<button type="button" class="btn span7" data-toggle="modal" data-target="#exampleModalCenter3">
<table style="width:100%;text-align:left;">
  <tbody><tr><td><b>Address:</b></td><td> </td></tr>

  </tbody></table><br><i class="fas fa-pencil-alt fa-fw"></i><u> Click To Change</u>
</button>
<button type="button" class="btn span4" data-toggle="modal" data-target="#exampleModalCenter13">
<table style="width:100%;text-align:left;">
  <tbody><tr><td><b>Mobile No. for SMS:</b></td><td> 98998989898</td></tr>

  </tbody></table><br><i class="fas fa-pencil-alt fa-fw"></i><u> Click To Change</u>
</button>
<!-- Button trigger modal-5 -->
<button type="button" class="btn btn-danger span5" data-toggle="modal" data-target="#exampleModalCenter4">
<table style="width:100%;text-align:left;">
  <tbody><tr><td><b>Cast:</b></td><td> </td></tr>
  <tr><td><b>Father CNIC:</b></td><td> </td></tr>
  <tr><td><b>Father Education:</b></td><td> </td></tr>
  <tr><td><b>Father Mobile:</b></td><td> </td></tr>
  <tr><td><b>Father Occupation:</b></td><td> </td></tr>
  <tr><td><b>Father Profession:</b></td><td> </td></tr>
  <tr><td><b>Father Income</b></td><td> 0</td></tr>
  </tbody></table><br><i class="fas fa-pencil-alt fa-fw"></i> Click To Change
</button>
<!-- Button trigger modal-6 -->
<button type="button" class="btn btn-success span5" data-toggle="modal" data-target="#exampleModalCenter5">
<table style="width:100%;text-align:left;">
  <tbody><tr><td><b>Total Children:</b></td><td> 0</td></tr>
  <tr><td><b>Mother CNIC:</b></td><td> </td></tr>
  <tr><td><b>Mother Education:</b></td><td> </td></tr>
  <tr><td><b>Mother Mobile:</b></td><td> </td></tr>
  <tr><td><b>Mother Occupation:</b></td><td> </td></tr>
  <tr><td><b>Mother Profession:</b></td><td> </td></tr>
  <tr><td><b>Mother Income</b></td><td> 0</td></tr>
  </tbody></table><br><i class="fas fa-pencil-alt fa-fw"></i> Click To Change
</button>
<!-- Modal-1 -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Change Photo</h5>
      </div>
      <div class="modal-body" style="color:#555;">
        <form action="editqueries.php" method="post" enctype="multipart/form-data">
		<label>Choose a picture: <input type="file" name="fileToUpload" id="fileToUpload" required=""></label>

      </form></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        <button type="submit" name="editphoto" class="btn btn-primary">Upload</button>

      </div>
    </div>
  </div>
</div>
<!-- Modal-2 -->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update Detail</h5>
      </div>
      <div class="modal-body" style="color:#555;">
        <form action="editqueries.php" method="post">
		<input type="text" placeholder="Name of Student" name="studentname" value="SAM" required="">
		<input type="text" placeholder="Father Name" name="fathername" value="" required="">
		<input type="text" placeholder="Mother Name" name="mothername" value="" required="">
		<label>Date Of Admission: <input type="date" name="doa" value="2020-06-20"></label>
		<select name="class" required="">
							<option>select class</option>
							<option value="23616">Python</option><option value="23508">JAVA BOOTCAMP</option>							</select>
		<input type="number" placeholder="Discount In Fee %" name="discount" value="10" required="">
      </form></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        <button type="submit" name="edit1" class="btn btn-primary">Update</button>

      </div>
    </div>
  </div>
</div>
<!-- Modal-3 -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update Detail</h5>
      </div>
      <div class="modal-body" style="color:#555;">
        <form action="editqueries.php" method="post">
		<label>Date Of Birth: <input type="date" name="dob" value="0000-00-00"></label>


		<select name="gender" style="width:110px;" required="">
							<option>Gender</option>
							<option value="male">Male</option>
							<option value="female">Female</option>
							</select>
							<input type="text" placeholder="B-form: XXXXX-XXXXXXX-X" name="bform" value="" required="">
							<select name="religion" style="width:110px;" required="">
							<option>Religion</option>
							<option value="African Traditional &amp; Diasporic">African Traditional &amp; Diasporic</option>
    <option value="Agnostic">Agnostic</option>
    <option value="Atheist">Atheist</option>
    <option value="Baha'i">Baha'i</option>
    <option value="Buddhism">Buddhism</option>
    <option value="Cao Dai">Cao Dai</option>
    <option value="Chinese traditional religion">Chinese traditional religion</option>
    <option value="Christianity">Christianity</option>
    <option value="Hinduism">Hinduism</option>
    <option value="Islam">Islam</option>
    <option value="Jainism">Jainism</option>
    <option value="Juche">Juche</option>
    <option value="Judaism">Judaism</option>
    <option value="Neo-Paganism">Neo-Paganism</option>
    <option value="Nonreligious">Nonreligious</option>
    <option value="Rastafarianism">Rastafarianism</option>
    <option value="Secular">Secular</option>
    <option value="Shinto">Shinto</option>
    <option value="Sikhism">Sikhism</option>
    <option value="Spiritism">Spiritism</option>
    <option value="Tenrikyo">Tenrikyo</option>
    <option value="Unitarian-Universalism">Unitarian-Universalism</option>
    <option value="Zoroastrianism">Zoroastrianism</option>
    <option value="primal-indigenous">primal-indigenous</option>
    <option value="Other">Other</option>
							</select>
							<select name="os" required="">
							<option>Orphen Student</option>
							<option value="Yes">YES</option>
							<option value="No">NO</option>
							</select>
							<select name="osc" required="">
							<option>OSC</option>
							<option value="Yes">YES</option>
							<option value="No">NO</option>
							</select>
							<input type="text" placeholder="Previous School" name="ps" value="" required="">
      </form></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        <button type="submit" name="edit2" class="btn btn-primary">Update</button>

      </div>
    </div>
  </div>
</div>
<!-- Modal-4 -->
<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update Address</h5>
      </div>
      <div class="modal-body" style="color:#555;">
        <form action="editqueries.php" method="post">
		<input type="text" style="width:78%;" placeholder="Address" name="address" value="" required="">
      </form></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        <button type="submit" name="edit3" class="btn btn-primary">Update</button>

      </div>
    </div>
  </div>
</div>
<!-- Modal-13 -->
<div class="modal fade" id="exampleModalCenter13" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update Student/Guardian Mobile No. for SMS</h5>
      </div>
      <div class="modal-body" style="color:#555;">
        <form action="editqueries.php" method="post">
		<input type="tel" style="width:78%;" placeholder="Mobile No" name="Gphone" value="98998989898" required="">
      </form></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        <button type="submit" name="edit13" class="btn btn-primary">Update</button>

      </div>
    </div>
  </div>
</div>
<!-- Modal-5 -->
<div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update Detail</h5>
      </div>
      <div class="modal-body" style="color:#555;">
        <form action="editqueries.php" method="post">
		<input type="text" placeholder="Cast" name="cast" value="" required="">
		<input type="text" placeholder="Father CNIC: XXXXX-XXXXXXX-X" name="fcnic" value="" required="">
		<input type="text" placeholder="Education" name="fedu" value="" required="">
		<input type="text" placeholder="Mobile No" name="fmobile" value="" required="">
		<input type="text" placeholder="Occupation" name="fo" value="" required="">
		<input type="text" placeholder="Profession" name="fp" value="" required="">
		<input type="number" placeholder="Income" name="fi" value="0" required="">
		</form></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        <button type="submit" name="edit4" class="btn btn-primary">Update</button>

      </div>
    </div>
  </div>
</div>
<!-- Modal-6 -->
<div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update Detail</h5>
      </div>
      <div class="modal-body" style="color:#555;">
        <form action="editqueries.php" method="post">
		<input type="text" placeholder="Total Children" name="tc" value="0" required="">
		<input type="text" placeholder="Mother CNIC: XXXXX-XXXXXXX-X" name="mcnic" value="" required="">
		<input type="text" placeholder="Education" name="medu" value="" required="">
		<input type="text" placeholder="Mobile No" name="mmobile" value="" required="">
		<input type="text" placeholder="Occupation" name="mo" value="" required="">
		<input type="text" placeholder="Profession" name="mp" value="" required="">
		<input type="number" placeholder="Income" name="mi" value="0" required="">
      </form></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        <button type="submit" name="edit5" class="btn btn-primary">Update</button>

      </div>
    </div>
  </div>
</div>



					</div><!--/.content-->
				</div>

{% endblock %}
