{% extends 'eskoolyapp/base.html' %}
{% load static%}
{% block parentblock %}
 {% load crispy_forms_tags %}

 <h3 style="text-align:center;color:#333;margin-top:63px;"><a href="/allemployee">
 		<button class="btn btn-info pull-left"><i class="fas fa-arrow-left"></i> back</button></a> Edit Student Detail</h3>

    <button type="button" class="btn btn-primary span3" data-toggle="modal" data-target="#exampleModalCenter">
      <img style="width:150px; height:150px;" src="{% static "images/std.png" %}"><br><i class="fas fa-pencil-alt fa-fw"></i> Click To Change
    </button>


<button type="button" class="btn btn-warning span4" data-toggle="modal" data-target="#exampleModalCenter1">
<table style="width:100%;text-align:left;">
  <tbody>
  <tr><td><b>Employee Name:</b></td><td>{{form.name_of_employee}}</td></tr>
  <tr><td><b>Father Name:</b></td><td>{{form.father_name}}</td></tr>
  <tr><td><b>Employee CNIC:</b></td><td></td></tr>
  <tr><td><b>Education:</b></td><td>{{form.education}}</td></tr>
  </tbody></table><br><i class="fas fa-pencil-alt fa-fw"></i> Click To Change
</button>

<button type="button" class="btn btn-info span4" data-toggle="modal" data-target="#exampleModalCenter2">
<table style="width:100%;text-align:left;">
  <tbody>
  <tr><td><b>Mobile no:</b></td><td>{{form.mobile_no}}</td></tr>
  <tr><td><b>Email:</b></td><td>{{form.email}}</td></tr>
  <tr><td><b>Gender:</b></td><td>{{form.gender}}</td></tr>
  <tr><td><b>Religion:</b></td><td></td></tr>
  </tbody></table><br><i class="fas fa-pencil-alt fa-fw"></i> Click To Change
</button><hr>

<button type="button" class="btn span7" data-toggle="modal" data-target="#exampleModalCenter3">
<table style="width:100%;text-align:left;">
  <tbody><tr><td><b>Address:</b></td><td>{{form.address}}</td></tr>
  </tbody></table><br><i class="fas fa-pencil-alt fa-fw"></i><u> Click To Change</u>
</button>

<button type="button" class="btn btn-danger span5" data-toggle="modal" data-target="#exampleModalCenter4">
<table style="width:100%;text-align:left;">
    <tbody>
    <tr><td><b>Date Of Birth:</b></td><td>{{form.date_of_birth}}</td></tr>
    <tr><td><b>Blood Group:</b></td><td>{{form.bloodgroup}}</td></tr>
    <tr><td><b>Experience:</b></td><td></td></tr>
    </tbody></table><br><i class="fas fa-pencil-alt fa-fw"></i> Click To Change
  </button>

  <button type="button" class="btn btn-success span5" data-toggle="modal" data-target="#exampleModalCenter5">
    <table style="width:100%;text-align:left;">
        <tbody>
        <tr><td><b>Date Of Joining:</b></td><td>{{form.joining_date}}</td></tr>
        <tr><td><b>Employee Type:</b></td><td>{{form.employee_type}}</td></tr>
        <tr><td><b>Monthly Salary:</b></td><td>{{form.monthly_salary}}</td></tr>
        </tbody></table><br><i class="fas fa-pencil-alt fa-fw"></i> Click To Change
      </button>

  <form method="POST">
     {% csrf_token %}

<!-- updateform -->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLongTitle">Update Detail</h5>
     </div>
     <div class="modal-body" style="color:#555;">
       <form method="post">
         {% csrf_token %}
   {{form.name_of_employee}}
  {{form.father_name}}
   {{form.education}}

     <div class="modal-footer">
       <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
       <input type="submit"  value="Update" class="brn btn-primary" />
 </div>
     </form></div>
   </div>
 </div>
</div>
<!-- images -->

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Change Photo</h5>
        </div>
        <div class="modal-body" style="color:#555;">
          <form action="/updateemployee/<pk>" method="POST" enctype="multipart/form-data">
  		<label>Choose a picture: <input type="file" name="fileToUpload" id="fileToUpload" required=""></label>

        </form></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
          <!-- <button type="submit" name="editphoto" class="btn btn-primary">Upload</button> -->
         <input type="submit"  value="Update" class="brn btn-primary" />
        </div>
      </div>
    </div>
    </div>
<!-- address -->
<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update Address</h5>
      </div>
      <div class="modal-body" style="color:#555;">
        <form method="POST">
            {% csrf_token %}
    {{form.address}}

      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
          <input type="save"  value="Update" class="brn btn-primary" />
        </div>
        </form></div>
    </div>
  </div>
</div>
<!-- update -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update Detail</h5>
      </div>
      <div class="modal-body" style="color:#555;">
        <form method="POST">

		{{form.mobile_no}}
		{{form.email}}
		{{form.gender}}

      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        <input type="save"  value="Update" class="brn btn-primary" />
     </div>
		 </form></div>
    </div>
  </div>
</div>
<!-- update -->
<div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update Detail</h5>
      </div>
      <div class="modal-body" style="color:#555;">
        <form method="POST">
					{% csrf_token %}
		<input type="text" placeholder="Cast" name="cast" value="">
		{{form.date_of_birth}}
	 {{form.bloodgroup}}

    <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        	<input type="save"  value="Update" class="brn btn-primary" />
     </div>
		 </form></div>
    </div>
  </div>
</div>
<!-- update -->
<div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update Detail</h5>
      </div>
      <div class="modal-body" style="color:#555;">
      <form method="POST">
		{{form.joining_date}}
		{{form.employee_type}}
		{{form.monthly_salary}}

    <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
					<input type="save"  value="Update" class="brn btn-primary" />
        <!-- <button type="submit" name="edit5" class="btn btn-primary">Update</button> -->
    </div>
		  </form></div>
    </div>
  </div>
</div>

{% endblock %}
