{% extends 'eskoolyapp/base.html' %}
{% block parentblock %}
{% load static%}
<div class="container" style="color:white;margin-top:80px;">
    <div class="card-group">
  {% if subject %}
    {% for sub in subject %}
      <!-- <div class="span9" style="color:white;margin-top:80px;margin-left:90px;"> -->
      <div class="row">
      <div class="card col-md-8">
        <div class="card-body">
         <button class="btn btn-lg" style="">{{sub.classnm}}</button>
         <button class="btn btn-primary card-text" style="border-radius:50%;width:100px;height:100px;">{{sub.Subjectname}}<hr>
           {{sub.mark}}</button>
        {% csrf_token %}
        </div>
      </div>
      </div>
    {% endfor %}
  {% endif %}

    <a href="/addsubject" class="btn-box span3" style="background:none;">
    <button class="btn btn-warning btn-lg border border-dark" style="border-radius:50%;width:138px;height:124px;">
      <i class="fa fa-plus" style="color:#333;"></i>
      <hr>Add Subject</button>
    </a>
    </div>
</div>

{% endblock %}
